body {
  margin: 60px;
}
.profile_pic {
  width: 45%;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 2px #dfdfdf;
  overflow: hidden;
}
.profile_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-header {
  display: flex;
}
.my-info {
  margin-left: 30px;
}
.my-info h1 {
  color: steelblue;
}
.my-info h3 {
  border-bottom: 1px solid #3e3e3e;
  padding: 30px 0;
}
table {
  border: 0;
}
p {
  width: 100%;
  line-height: 30px;
}
